@import url('./convenio.css');

.area-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--color-terciario) !important;
  color: var(--color-texto-cards) !important;
  border-radius: var(--border-radius) !important;
  box-shadow: var(--box-shadow-standard) !important;
  padding: 1rem !important;
  font-weight: 600 !important; /* Igualar grosor al formulario */
}

.area-desc {
    text-align: left;
    font-size: 0.95rem;
    color: var(--color-texto-cards);
    font-weight: 600 !important; /* Igualar grosor al formulario */
}

.actions-container {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:1rem;
    align-items: center;
    align-content: center;
}


.btn-modificar {
    display: block;
    background-color: var(--color-secundario) !important;
    border: none !important;
    border-radius: var(--border-radius) !important;
    padding: 8px 16px !important;
    cursor: pointer !important;
}





