
:root {
    --height-turnos: 4.5rem;
}

.content-form-audicion {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.divider {
    width: 100%;
    border: 1px solid var(--accent);
    margin: 3.5rem 0rem;
}

.form-audicion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: auto;
    gap: .8rem;
}

.content-inputs-date-audicion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: var(--height-turnos);
    gap: 1rem;
}

/* ===== CADA INPUT (fecha desde / fecha hasta) ===== */
.inputs-date-audicion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}



.button-date-audicion {
    min-height: 64px;
    min-width: 174px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.content-turno-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    min-height: var(--height-turnos);
}



.btn-dias {
    width: 11rem;
    align-self: flex-start;
    margin-top: 1rem;
}

.btn-dias:hover {
    background-color: var(--accent) !important; 
    border: none !important;
    color: var(--bg) !important;
}