.audicion-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  background: var(--bg);
  color: var(--text-light);
  padding: 24px;
  font-family: var(--font-sans);
  gap: 1rem ;
}



.abmc-table-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-collapse: collapse;
  
}

.audicion-footer {
  margin-top: 1rem;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}

.content-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap:.5rem;
}


.audicion-footer:last-child .abmc-btn {
  min-width: 210px;
}


@media (width < 477px) {

  .content-footer .abmc-btn {
    min-width: inherit;
    margin: .5rem 2rem;
  }
  .content-footer {
    flex-direction: column;
    gap: 0;
  }
  .audicion-footer {
    align-items: center;
    gap: 0rem;
  }

  .abmc-table-container {
    padding: 0;
  }

  .abmc-card {
    margin: 0;
  }
}

/* --- Ajuste de alineación de columnas --- */
.abmc-table-container table.abmc-table th,
.abmc-table-container table.abmc-table td {
  text-align: left;
  vertical-align: middle;
  padding: 0.8rem 1rem;
}

/* --- Ajuste de color de íconos en botones de acción --- */
.abmc-btn .btn-transparent .material-symbols-outlined {
  color: #ffffff !important;
}

.footer-audicion {
  gap: .5rem;
  margin-top: 1.5rem;
  padding: 12px 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}