
@import url('convenio.css');

body .back-button {
    background: transparent !important;
    border: none !important;
    color: var(--primary-text-color);
}



body .back-button:hover {
    background: transparent !important;
    opacity: inherit;
    cursor: pointer;
}

.back-icon {
    font-size: 1.5rem;
    color: var(--primary-text-color);
    background-color: transparent !important;
}

.back-icon:hover {
    transition: all .5s ease-in-out !important;
    font-size: 1.5rem;
    color: var(--secondary-color);
}