
body {
  padding: 0 !important;
}


/* --- Botón menú hamburguesa --- */
.navbar {
    /* Este es
     el color azul oscuro que quieres: #213547 */
    background: transparent !important; 
    top:0;
    width: 100%;
    border: none;
}

.navbar * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.offcanvas * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/* === MENU LATERAL (OFFCANVAS) NORMALIZADO === */
.offcanvas,
.offcanvas-start,
.offcanvas-body,
.offcanvas-header {
  background-color: #11103a !important; /* azul primario */
  color: #E8EAED !important; /* texto blanco */
  border: none !important;
  box-shadow: none !important;
}

/* Título del menú */
.offcanvas-title {
  color: #E8EAED !important;
  font-weight: 700;
}

/* Links dentro del menú */
.offcanvas-body .nav-link {
  color: #E8EAED !important;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  margin: 0.4rem 0;
  display: block;
}

.offcanvas-body .nav-link:hover {
  color: #f3a21d !important; /* amarillo de acento */
}

/* Botón cerrar “X” */

.btn-close {
  background: none !important;
  border: none !important;
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  opacity: 1 !important;
}

