/* Fondo general */
.login-container {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.img-fondo {
  position: absolute;
  right: 0;
  width: 40%;
  min-width: 10vw;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
} 

/* Bloque azul con onda superior */
.login-form-container {
  width: 100%;
  max-width: 90vw;
  height: 100%;
  left: 0;
  position: absolute;
  clip-path: url(#wavy-shape-clip);
  background: #11103a;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;    
  z-index: 1;
  gap: 1.5rem;
  padding: 2rem;
}

.logo-coro {
  max-width: 60px;
  max-height: 60px;
  object-fit: contain;
}

/* Formulario */
.formulario-login {
  width: 60%;
  min-width: 400px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;
  align-items: flex-start;
  padding: 1rem;
  color: #ffff;
  background: #0008;

}

.custom-input-group {
  width: 100%;
}

.custom-input-emoji {
  font-size: 1.2rem;
  color: #fff;
}

.custom-input{
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;

}


/* Logo texto */
.logo-text {
  font-family: 'Brush Script MT', cursive;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 0;
  position: relative;

  width: 100%;
  z-index: 10;
  text-shadow: 2px 2px 8px #0008;
}

.logo-text strong {
    font-size: 2rem;
  }

@media (width > 800px) {

  
}