/* src/assets/icon.css */

.container-toggle {
  display: flex;
  padding: 0;
  margin: 0;
  right: 0.6rem;
  position: absolute;
  top: 50%; /* ⬅️ ancla vertical */
  transform: translateY(-50%); /* ⬅️ centra vertical */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  z-index: 3;
}

.container-toggle:hover {
  border: inherit;
  opacity: 0.8;
}

/* opcional: tamaño del svg del ojo */
.eyes-icon {
  width: 24px;
  height: 24px;
}
